node_modules/
package-lock.json
.env
**/.DS_Store
.DS_Store
server/models/schedule.js
server/public/js/teacher_dashboard.js
server/routes/management.js
server/routes/volunteer.js
server/views/teacher_dashboard.ejs
.DS_Storenpm-debug.log

