<!DOCTYPE html>
<html>
<head>
	<title>NGO Portal</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
	<link href="styles/index.css" rel="stylesheet">
	<!-- <style>
		.space {
    		margin-bottom: 15px;
		}
		.switch {
    border: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    position:relative;
    width: 300px;
}
.switch legend {
    color: #6B6B6B;
    display:block;
	float:left;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 10% 3px 0;
    text-align: right;
    width: 40%;
}
	.switch legend .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch legend .switch-field label {
  float: left;
}

.switch legend .switch-field label {
  display: inline-block;
  width: 10vw;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch legend .switch-field label:hover {
	cursor: pointer;
}

.switch legend .switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch legend .switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch legend .switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
.switch input {
    opacity:0;
    position:absolute;
}
.switch legend:after {
    border-radius: 3px;
    content:'';
    height: 100%;
    left: 50%;
    padding: 2px;
    position:absolute;
    top: 0;
    width: 50%;
    z-index: 0;
}
.switch label {
    color: #DEDEDE;
    cursor: pointer;
    float: left;
    margin-top: 2px;
    padding: 5px 0 3px 0;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 25%;
    z-index: 2;
}
.switch input:checked + label {
    color: #6B6B6B;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.switch input:focus + label {
    background-color: transparent;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.switch .switch-button {
    border-bottom: solid 2px #E53517;
    clear: both;
    height: 100%;
    left: 50%;
    margin: 2px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    position: absolute;
    top: 0;
    z-index: 1;
}
.switch input:last-of-type:checked ~ .switch-button {
    left: 75%;
}
.switch.switch-two label {
    width: 16.6%;
}
.switch.switch-two .switch-button {
    width: 16%;
}
.switch.switch-two input:checked:nth-of-type(2) ~ .switch-button {
    left: 66.6%;
}
.switch.switch-two input:checked:last-of-type ~ .switch-button {
    left: 66.26%;
}
.switch.switch-three label {
    width: 16.6%;
}
	</style> -->
</head>
<body>
		<div class="header">
			<div class="sides">
				<img src="resources/logo.png" id="logo_image">
				<h2 class="logoText">vidyanikethan</h2>
				<a href="#about" class="logo1">ABOUT US</a>
				<a href="#donashun" class="logo2">DONATE</a>
				<!-- <a href="#volunteer" class="logo3">VOLUNTEER</a> -->
				<a class="logo3" href="/volunteer_registration">VOLUNTEER NOW</a> 
				<a href="http://localhost:8080/login" class="logo4">LOG IN</a>
					
			</div>
			<div class="sides"> <a href="#" class="menu">-</a></div>
				<div class="info">
					<h4><a href="#category"></a></h4>
				  <h1 class="schoolName"><b>SRI VIDYANIKETHAN SCHOOL</b></h1>
				  <div class="meta" style="font-size: 1.8em;">
						Integrated sustainable community development through community participation.
					</div>
				</div>
		</div>
				
<div class="slideShowContainer" id="about">
	<h1 id="slideText"><b>Why empowering children matters?</b></h1>	
	<div class="mySlides"><img class="slideImage" src="resources/Slide1.png"></div>
	<div class="mySlides"><img class="slideImage" src="resources/Slide2.png"></div>
	<div class="mySlides"><img class="slideImage" src="resources/Slide3.png"></div>
	<div class="mySlides"><img class="slideImage" src="resources/Slide4.png"></div>
	<div class="mySlides"><img class="slideImage" src="resources/Slide5.png"></div>
</div>
<!--</section>-->
<div id="about_us">
	<h1 id="about_us_text"><b>About Us</b></h1>
	<div id="about_us_font">
		Vidyanikethan is a not-for-profit organization founded in 1988 to improve the lives and livelihoods of people from the vulnerable, marginalized and under-developed sections of the society. Based in Bangalore, (India) Vidyanikethan's special focus is on development of children and women from the low income group families. Its interventions have impacted more than 12000 families. It has initiated about 600 Self-Help Groups in almost 10 divisional areas in two major states in South India - Karnataka and Tamil Nadu.
	</div>
	<img src='resources/class5.jpg' style="position: absolute; top: 240vh; left: 55vw; width: 40vw;">
	</div>
<!-- <div id="volunteer" style="background-image: url('resources/class2.jpg') center no-repeat;">
	
		Imagine your childhood without a family.
		Imagine living on hand-me-downs.
		Imagine failing exams. Consistently. 
		Imagine a dead end job that pays peanuts. 
		Imagine a life of abuse and abandonment. 
		
		
		This is the life of 176 Million children in India right now. 
		Your time to care has come
		Transform the lives of thousands of vulnerable children in India. Volunteer with us. <a id="volunteer_registration" href="/volunteer_registration">VOLUNTEER NOW</a> <!--Link the volunteer_registration page here
</div> -->

<div style="display: none">
	<form method='post' action='https://securegw-stage.paytm.in/theia/processTransaction' name='f1'></form>
</div>
<style>

.dswitch {
	border: 0;
	left:-45vw;
	top:3vh;
    color: #fff;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    position:relative;
    width: 140vw;
}
.dswitch legend {
    color: #6B6B6B;
    display:block;
    float:left;
    font-size: 12px;
    line-height: 15px;
    padding: 7px 10% 3px 0;
    text-align: right;
    width: 40%;
}
.dswitch input {
    opacity:0;
    position:absolute;
}
.dswitch legend:after {
    border-radius: 3px;
    content:'';
    height: 100%;
    left: 50%;
    padding: 2px;
    position:absolute;
    top: 0;
    width: 50%;
    z-index: 0;
}
.dswitch label {
    color: #DEDEDE;
    cursor: pointer;
    float: left;
	margin-top: 2px;
	font-size: 1.8em;
    padding: 5px 0 3px 0;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    width: 10%;
    z-index: 2;
}
.dswitch input:checked + label {
    color: #6B6B6B;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.dswitch input:focus + label {
    background-color: transparent;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}
.dswitch .switch-button {
    border-bottom: solid 5px #C1D82F;
    clear: both;
    height: 100%;
    left: 50%;
    margin: 2px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    position: absolute;
    top: 0;
    z-index: 1;
}
.dswitch input:last-of-type:checked ~ .switch-button {
    left: 75%;
}
.dswitch.switch-two label {
    width: 16.6%;
}
.dswitch.switch-two .switch-button {
    width: 16%;
}
.dswitch.switch-two input:checked:nth-of-type(2) ~ .switch-button {
    left: 66.6%;
}
.dswitch.switch-two input:checked:last-of-type ~ .switch-button {
	left: 66.26%;
}
#nmdonation {
	left: 3vw;
	top:3vh;
	display: inline;
	position: relative;
}
#divider {
 width: 3px;
 height: 50vh;
 background-color:#6B6B6B;
 position: absolute;
 top:-24vh;
 left: 35vw;
}

#nmdonation h3 {
	color: #6B6B6B;
}
#nmdonation li {
	color: #6B6B6B;
}

#contact_us {
	width: 18vw;
	left: 37vw;
	top: -20vh;
	position: absolute;
	color: #6B6B6B;
}

#enter_number {

}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="donation-container" id="donashun" ng-app="ssbApp" ng-controller="ssbCtrl">
		<div class="space">
				<fieldset class="dswitch switch-two">
				  <legend></legend>
				  <input type="radio" name="view" id="yes" checked name="showHideExample" ng-model="showHideTest" ng-value="true" />
				  <label for="yes">Monetary Donation</label>
				  <input type="radio" name="view" id="no" name="showHideExample" ng-model="showHideTest" ng-value="false"/>
				  <label for="no"> Non-monetary Donation </label> 
				  <span class="switch-button"></span>
				</fieldset>
			  </div>
		<div class="donation-meter" name="showHideExample" ng-show="showHideTest">
				<strong style="margin-left:-2vw;">Monthly Requirements</strong>
				<strong class="goal" style="margin-left:-2vw;">₹35,000</strong>
				<span class="glass">
						<strong class="total" style="bottom: 30%; position: absolute; top:55vh; left: -2.5vw; font-size: 2em;">₹4,750</strong>
						<span class="amount" style="height: 30%"></span>
				</span>
				<div class="bulb">
						<span class="red-circle"></span>
						<span class="filler">
								<span></span>
						</span>
				</div>
			</div>
            
		<div class="donation-box" ng-show="showHideTest">
			<div class="title">Monetary Donation Information</div>
			
			<div class="fields">
				<input type="text" id="name" placeholder="Name">
				<input type="text" id="mobile" placeholder="9999999999">
				<input type="text" id="email" placeholder="Email">
			</div>
			
			<div class="amount">
				<div class="button" onclick="set_amount(100)" value="100">₹100</div>
				<div class="button" onclick="set_amount(500)" value="500">₹500</div>
				<div class="button" onclick="set_amount(1000)" value="1000">₹1000</div>
				<div class="button">₹<input type="number" class="set-amount" id="donation_amount" placeholder=""></div>
			</div>
			
			<div class="switch">
	<input type="radio" class="switch-input" name="view" value="One-Time" id="one-time" checked="">
	<label for="one-time" class="switch-label switch-label-off">One-Time</label>
	<input type="radio" class="switch-input" name="view" value="Monthly" id="monthly">
	<label for="monthly" class="switch-label switch-label-on">Sponsor a Child</label>
	<span class="switch-selection"></span>
	</div>
	
	<div class="checkboxes">
	<input type="checkbox" id="receipt" class="checkbox" />
	<label for="receipt">Email Me A Receipt</label>
	<br />
	<input type="checkbox" id="anon" class="checkbox" />
	<label for="anon">Give Anonymously</label>
	<br />
	<input type="checkbox" id="list" class="checkbox" />
	<label for="list">Add Me To Email List</label>
	</div>
	
	<div class="confirm">
	</div>
			<div class="donate-button" id="initPayment"><i class="fa fa-credit-card"></i>Donate Now</div>
	</div>


	<div class="donation-box" ng-hide="showHideTest">
			<div class="title">Non-Monetary Donation Information</div>
			<div id=nmdonation>
				<br><h3> We accept non-monetary donations in the form of:</h3>
				<li>Clothes</li>
				<li>Grains (rice, wheat, etc.)</li>
				<li>Food Items</li>
				<li>Books</li>
				<li>Stationary</li>
				<li>Toys</li>
				<li>Toiletaries</li>
				<div id="divider"></div>
				<div id="contact_us">
						<strong>Location:</strong> <br>
						Vidyanikethan <br>
						(Society for Education and Social Development)<br>
						Jaraganahalli, J P Nagar (Post), <br>
						Bangalore 560 078<br><br><br>
						
						<strong>Call Us On :</strong><br>
						+080 - 4148 7965<br><br><br>
						
						<strong>E-mail Us At:</strong><br>
						vidyanik@gmail.com
				</div>
				<br><br><br><br><br><label>Enter your contact number for a call:</label> <br>
				<div class="fields">
					<input type="text" style="font-size: 1.5em; left:-1vw; top: 5vh; position:absolute;" placeholder="9036112332">
				</div>
			</div>	
			
	<div class="confirm">
	</div>
			<div class="donate-button" id="request_call"><i class="fa fa-credit-card"></i>Request a Call</div>
	</div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
	function call_requested() {
		swal("Callback Requested!", "Thank you for your interest, we will call you soon.", "success");
				setTimeout(() => {
					window.location.href = '/';
				}, 2000);
	}
	let loginButton = document.getElementById('request_call');
	loginButton.addEventListener('click', call_requested, false);
		var ssbApp = angular.module("ssbApp", []);
		ssbApp.controller('ssbCtrl', function ($scope, $http) {
			$scope.showHideTest = false;
			$scope.showHideTest = true;
		});
		</script>
<script type="text/javascript">

	function set_amount(amount) {
		var field = document.getElementById('donation_amount');
		field.value = amount;
	}
	function initiatePayment() {
		let name = document.getElementById('name').value;
		let email = document.getElementById('email').value;
		let mobile = document.getElementById('mobile').value;
		let amount = document.getElementById('donation_amount').value;
		fetch('/donate', {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				name: name,
				email: email,
				mobile: mobile,
				amount: amount,
				isMonetary: true
			})
		}).then((result) => result.json()).then((res) => {
			if(!res.success) alert('Payment initiation failed');
			else {
				let details = res.details;
				let f1 = document.getElementsByName('f1')[0];
				for(let i in details){
					f1.innerHTML += "<input type='hidden' name='" + i + "' value='" + details[i] + "'>"	
				}
				f1.submit();
			}
		});
	}

	let initPaymentBtn = document.getElementById('initPayment');
	initPaymentBtn.addEventListener('click', initiatePayment, false);
</script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>