<!DOCTYPE html>
<html>
<head>
    <link href="styles/student_dashboard.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/student_dashboard.js"></script>
    
</head>    
<body>
    <span class="bckg"></span>
    <header>
        <h1>Dashboard</h1>
        <nav>
            <ul>
            <li>
                <a href="javascript:show_assignments();" data-title="Assignments">Assignments</a>
            </li>
            <li>
                <a href="javascript:show_videos();" data-title="E-Learning">E-Learning</a>
            </li>
            <li>
                <a href="javascript:show_profile();" data-title="Profile">Profile</a>
            </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="title">
            <h2>Assignments</h2>
            <a href="javascript:void(0);">Hello <%= user.username %>!</a>
            <a href="/logout">Logout</a>
        </div>

        <article class="larg" id="assignments">
            <div>
            <h3>Assignment 1 <span class="entypo-down-open"></span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
            </div>
            <div>
            <h3>Assignment 2 <span class="entypo-down-open"></span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
            </div>
            <div>
            <h3>Assignment 3 <span class="entypo-down-open"></span></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p>
            </div>
        </article>

        <article class="larg" style="display:none;" id="videos">
            <div>
            <h3> Introduction to Fractions <span class="entypo-down-open"></span></h3>
            <iframe width="640" height="480" src="https://www.youtube.com/embed/kZzoVCmUyKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus iste quia incidunt ad provident ullam quo assumenda expedita quae sapiente ipsa qui esse similique! Modi obcaecati natus sapiente quaerat omnis.</p> -->
            <p><strong> Quiz: </strong>
                </p>
                <form>
                        <h4> Which of the following is an improper fraction?</h4>
                        <input type="radio" class="question_text" name="question1" value="1/2" checked> 1/2<br>
                        <input type="radio" name="question1" class="question_text" value="3 1/2"> 3 1/2<br>
                        <input type="radio" name="question1" class="question_text" value="3/2"> 3/2 <br>
                        <input type="radio" name="question1" class="question_text" value="2/2"> 2/2 <br>  
                        <input type="submit" value="SUBMIT">
                      </form> 
            </div>
            <div>
            <h3>Adding and Subtracting Fractions <span class="entypo-down-open"></span></h3>
            <iframe width="640" height="480" src="https://www.youtube.com/embed/52ZlXsFJULI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
            <h3> Unlike Fractions <span class="entypo-down-open"></span></h3>
            <iframe width="640" height="480" src="https://www.youtube.com/embed/bcCLKACsYJ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </article>

        <article class="larg" style="display: none;" id="profile">
            <div id="detailsDiv">
            <h3>Profile Details <span class="entypo-down-open"></span></h3>
            </div>
        </article>
    </main>
    </body>
</html>