<!DOCTYPE html>
<html>
    <head>
        <title> Voluntter Registration </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="styles/volunteer_registration.css" rel="stylesheet">
    </head>
    <body>
        <div id="progress"></div>
            <div class="center">
              <div id="register"> 
                
                <i id="previousButton" class="ion-android-arrow-back">⇦</i> 
                <i id="forwardButton" class="ion-android-arrow-forward">⇨</i>
                
                <datalist id="slots">
                        <option value="Monday, Wednesday, Friday">
                        <option value="Tuesday, Thursday, Saturday">
                        <option value="Saturday and Sunday">
                    </datalist>

                <datalist id="grades">
                    <option value="Grades 1-4">
                    <option value="Grades 5-8">
                    <option value="Grades 9 or 10">
                </datalist>

                <datalist id="subjects">
                        <option value="English">
                        <option value="Hindi">
                        <option value="Math">
                        <option value="Science">
                        <option value="Social Science">
                </datalist>
                      
            </select>

                <div id="inputContainer">
                  <input id="inputField" required multiple/>
                  <label id="inputLabel"></label>
                  <div id="inputProgress"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/volunteer_registration.js"></script>
    </body>
</html>